.main {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: var(--spacing-sm);

  top: 0;
  left: 0;
  height: 100dvh;

  padding: var(--spacing-sm);

  border-right: var(--border-width) solid var(--border-color);
  background-color: var(--background-color);

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    gap: var(--spacing-sm);
  }

  .footer {
  }
}
