.main {
  height: var(--border-width);

  margin: 0 auto;

  background-color: var(--border-color);

  transition: var(--transition-duration) var(--transition-timing-function);
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}
