.main {
  width: min-content;

  color: var(--thin-color);
  font-size: var(--font-size-sm);

  padding: var(--spacing-sm);

  background-color: var(--flat-color);

  border-radius: var(--border-radius);
}
