/* Color Configs */

/* Dark Theme */
$dark: hsla(0, 0%, 7%, 1);
$hiddenDark: hsla(0, 0%, 9%, 1);
$ghostDark: hsla(0, 0%, 11%, 1);

/* Light Theme */
$light: hsla(0, 0%, 100%, 1);
$hiddenLight: hsla(0, 0%, 98%, 1);
$ghostLight: hsla(0, 0%, 96%, 1);
