/* Typographic Configs */

$font-size-sm: 10px;
$font-size-md: 14px;
$font-size-lg: 18px;
$font-size-xl: 22px;

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;

$line-height: 24px;
$letter-spacing: 2px;
