.main {
  width: auto;

  padding: var(--spacing-sm) var(--spacing-md);

  font-family: inherit;
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing);

  color: var(--text-color);
  background-color: var(--background-color);

  border: var(--border-width) solid transparent;
  border-radius: 0;

  cursor: pointer;

  &:hover {
    background-color: var(--hover-color);
  }

  &:active {
    background-color: var(--active-color);
  }
}

.fill {
  background-color: var(--flat-color);
}

.radius {
  border-radius: var(--border-radius);
}

.outline {
  border: var(--border-width) solid var(--border-color);
}
