/* Import color configs (./_variables/colors.scss) */
@import '@/app/_variables/colors';

/* Import typographic configs (./_variables/typography.scss) */
@import '@/app/_variables/typography';

/* Import design configs (./_variables/design.scss) */
@import '@/app/_variables/design';

:root {
  --font-size-sm: #{$font-size-sm};
  --font-size-md: #{$font-size-md};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};

  --font-weight-light: #{$font-weight-light};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};

  --line-height: #{$line-height};

  --letter-spacing: #{$letter-spacing};

  --spacing-sm: #{$spacing-sm};
  --spacing-md: #{$spacing-md};
  --spacing-lg: #{$spacing-lg};
  --spacing-xl: #{$spacing-xl};

  --border-width: #{$border-width};
  --border-radius: #{$border-radius};

  --transition-duration: #{$transition-duration};
  --transition-timing-function: #{$transition-timing-function};

  /* Light Mode */
  --text-color: #{$ghostDark};
  --background-color: #{$light};
  --border-color: #{$ghostLight};
  --hover-color: #{$ghostLight};
  --active-color: #{$hiddenLight};
  --flat-color: #{$hiddenLight};
}

:root.dark {
  /* Dark Mode */
  --text-color: #{$ghostLight};
  --background-color: #{$dark};
  --border-color: #{$ghostDark};
  --hover-color: #{$ghostDark};
  --active-color: #{$hiddenDark};
  --flat-color: #{$hiddenDark};
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
